BOT_TOKEN=
BOT_MODE=webhook
WEBHOOK_URL=https://bojxonanazoratibot.onrender.com
WEBHOOK_PATH=/webhook
PERMISSION_RULES_PATH=data/permission_rules.json
TZ=Asia/Tashkent
DATABASE_PATH=data/bot_data.sqlite3
USER_DATABASE_URL=
